body {
    background-image: url(Images/beach.webp);
    background-size: cover;
}

h2.about {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 70px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 430px;
    right: 235px;
}

p {
    color: #000000;
    font-weight: regular;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFEFE;
    font-size: 24px;
    text-shadow: 1px 1px;
    text-wrap: balance;
    position: relative;
    top: 400px;
    left: 60px
}

h3 {
    color: #000000;
    font-weight: regular;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFEFE;
    font-size: 32px;
    text-shadow: 1px 1px;
}

.pr-flag {
    width: 488px;
    height: 319px;
    flex-shrink: 0;
    aspect-ratio: 488/319;
    position: relative;
    bottom: 260px;
    left: 670px;
}

.nav-bar {
    color: #F9F9FF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 70px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9F9FF;
}

h2.work-heading {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 70px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    letter-spacing: 50%;
    position: relative;
    top: 70px;
}

.music-projects {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 64px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: -295px;
    left: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 100px;
}


h2.contact-me {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 70px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    justify-content: center;
    font-size: 64px;
    position: relative;
    bottom: 170px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 350px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 4px 4px #00000040;
  }

.custom-button {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    position: relative;
    top: 345px;
    left: 100px;
}

.message {
    height: 100%;
    padding: 50px;
}