body {
    background-image: url(Images/beach.webp);
    background-size: cover;
}

h2 {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 100px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    justify-content: flex-end;
}

.bio {
    color: #000000;
    font-weight: regular;
    font-family: "Poppins", sans-serif; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFEFE;
    font-size: 24px;
    text-shadow: 1px 1px;
}

h3 {
    color: #000000;
    font-weight: regular;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFEFE;
    font-size: 32px;
    text-shadow: 1px 1px;
}

.pr-flag {
    width: 488px;
    height: 319px;
    flex-shrink: 0;
    aspect-ratio: 488/319;
}

.nav-bar {
    color: #F9F9FF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 70px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2.work-heading {
    display: flex;
    justify-content: center;
    
    letter-spacing: 50%;
}
.music-projects {
    color: #03045E;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 64px;
    font-weight: bold;
    font-weight: 800;
    text-shadow: 1px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


h2.contact-me {
    display: flex;
    justify-content: center;
    font-size: 64px;
    border-image: url(/Images/beach.webp);
}

form {
    display: flex;
}